<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAzQcyWf2argX07xwZaEpWmht7Ty74haHI</string>
	<key>GCM_SENDER_ID</key>
	<string>464413033372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arilsonwap.crediario</string>
	<key>PROJECT_ID</key>
	<string>crediario-app</string>
	<key>STORAGE_BUCKET</key>
	<string>crediario-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:464413033372:ios:67344359b50089bc3ffe59</string>
</dict>
</plist>
